.centerit {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.colum {
    display: flex;
    flex-direction: column;
 

}

.row {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    width: auto;
    border: 2px;
}

.row-nb {
    display: flex;
    flex-direction: row;
}

.obsbox {
    width: 590px;
    font-size: 12px;
    font-weight: bold;
}

.obsbox-1 {
    width: 40px;

}

.obsbox-2 {
    width: 80px;

}
.obsbox-3 {
    width: 90px;

}
.obsbox-4 {
    width: 85px;
}
.delObs {
    width: 100px;
    padding: 5px;
}
.editObs {
    width: 490px;
    padding: 5px;
}