.centerit {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.colum {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;

    

}

.row {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    width: auto;
    border: 2px;
}

.obsbox {
    width: 590px;
    font-size: 12px;
    font-weight: bold;
}

.obsbox-1 {
    width: 40px;

}

.obsbox-2 {
    width: 80px;

}
.obsbox-3 {
    width: 90px;

}
.obsbox-4 {
    width: 85px;
}