header {
    color: black;
    font-family: 'Wallpoet', cursive;
    font-size: 60px;   
    border-style: solid;
    border-color: black;

}

.centerit {
	display: block;
	margin: 0 auto;
	text-align: center;
}