.create {
    border-color: #000000;
    border-style: solid;
    
}

.create-r {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.create-c {
    display: flex;
    flex-direction: column;
    width: 225px;
    text-align: right;
    font-weight: bold;
    margin: 10px;
    font-size: 25px;
}

button {
    border-radius: 25px;
    font-weight: bold;
    font-size: 25px;
}

input {
    height: 25px;
}